.character-list-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.character-card{
    border: 1px solid rgb(65, 65, 65);
    padding:5px;
    margin:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.character-card p {
    background-color: blue;
    
}
.character-portrait{
    display: flex;
    flex-direction: column;
    
}
.card-content{
    display: flex;
}
.card-stats{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.lists{
    display: grid;
    grid-template-columns: 50% 50%;
}